

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    margin: 20px 0 20px 0;
}

.logo {
    font-size: 40px;
    color: rgb(27, 35, 61);
    font-family: 'Unbounded';
}

.nav {
    display: flex;
    justify-content: right;
    gap: 30px;
}