.profile-button {
    outline: none;
    border: none;
    background-color: transparent;
}

.cart-button {
    outline: none;
    border: none;
    background-color: transparent;
}

.logout-button {
    outline: none;
    border: none;
    background-color: transparent;
}

.bag-img {
    height: 30px;
}

.profile-img {
    height: 30px;
}

.log-img {
    height: 25px;
}