.form {
    margin-left: 100px;
    margin-right: 100px;
}
.input {
    width: 40vw;
    background-color: white;
    outline: rgb(168, 168, 168) solid 1.5px;
    border: none;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    font-family: 'Inter' sans-serif;
    font-size: 15px;
    color: black;
}