.form {
    margin-left: 100px;
    margin-right: 100px;
}
.input {
    width: 40vw;
    background-color: white;
    outline: black solid 1.5px;
    border: none;
    border-radius: 20px;
    height: 40px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 15px;
}