.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    outline: black solid 2px;
    align-items: center;
    margin: 20px 0 20px 0;
}

.logo {
    font-size: 40px;
    color: blue;
}

.nav {
    display: flex;
    justify-content: right;
}